# |-----------------------------------------------------------------------------
# | Project
# |-----------------------------------------------------------------------------
/public/assets/src

# |-----------------------------------------------------------------------------
# | Laravel
# |-----------------------------------------------------------------------------
/.vagrant
/vendor
/node_modules
.env
Homestead.yaml
Homestead.json

# |-----------------------------------------------------------------------------
# | OSX
# |-----------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/backups
