/***********
 * general *
 ***********/
body {
    background:#f5f5f5;
    color:#3a3a3a;
    font-family:"Merriweather Sans", Helvetica, sans-serif;
    font-size:16px;
    font-weight:300;
}

h1, h2, h3 { font-weight:700; }

p { line-height:2.4; }

hr {
    border-top:1px dotted #e0dcd9;
    margin-top:16px;
    margin-bottom:16px;
}

section:nth-child(odd){
    background:#fff;
}

.btn-xl { padding:12px 24px; }

.source {
    font-family:"Source Code Pro", monospace;
    font-weight:400;
}

.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }
.weak { font-weight:normal; }
.smash { line-height:1.6; }

/***********
 * spacing *
 ***********/
.p0-top { padding-top:0 !important; } .p0-right { padding-right:0 !important; } .p0-bottom { padding-bottom:0 !important; } .p0-left { padding-left:0 !important; } .p1-top { padding-top:16px !important; } .p1-right { padding-right:16px !important; } .p1-bottom { padding-bottom:16px !important; } .p1-left { padding-left:16px !important; } .p2-top { padding-top:32px !important; } .p2-right { padding-right:32px !important; } .p2-bottom { padding-bottom:32px !important; } .p2-left { padding-left:32px !important; } .p3-top { padding-top:48px !important; } .p3-right { padding-right:48px !important; } .p3-bottom { padding-bottom:48px !important; } .p3-left { padding-left:48px !important; } .p4-top { padding-top:64px !important; } .p4-right { padding-right:64px !important; } .p4-bottom { padding-bottom:64px !important; } .p4-left { padding-left:64px !important; } .m0-top { margin-top:0 !important; } .m0-right { margin-right:0 !important; } .m0-bottom { margin-bottom:0 !important; } .m0-left { margin-left:0 !important; } .m1-top { margin-top:16px !important; } .m1-right { margin-right:16px !important; } .m1-bottom { margin-bottom:16px !important; } .m1-left { margin-left:16px !important; } .m2-top { margin-top:32px !important; } .m2-right { margin-right:32px !important; } .m2-bottom { margin-bottom:32px !important; } .m2-left { margin-left:32px !important; } .m3-top { margin-top:48px !important; } .m3-right { margin-right:48px !important; } .m3-bottom { margin-bottom:48px !important; } .m3-left { margin-left:48px !important; } .m4-top { margin-top:64px !important; } .m4-right { margin-right:64px !important; } .m4-bottom { margin-bottom:64px !important; } .m4-left { margin-left:64px !important; }

/**********
 * colors + icons *
 **********/
.blue { color:#3890ce; }
.gray { color:#333; }
.green { color:#7dbe56; }
.orange { color:#ef9729; }
.pink { color:#ec407a; }
.white { color:#fff; }

.btn-blue { background:#3890ce; color:#fff; }
.btn-gray { background:#333; color:#fff; }
.btn-green { background:#7dbe56; color:#fff; }
.btn-orange { background:#ef9729; color:#fff; }
.btn-pink { background:#ec407a; color:#fff; }
.btn-white { background:#fff; color:#fff; }

.icon {
    border-radius:50%;
    display:inline-block;
    color:#f5f2f0;
    font-size:48px;
    padding:.8em;
    width:3.1em;
    height:3.1em;
    text-align:center;
}

.icon.green { background:#7dbe56; }
.icon.blue { background:#3890ce; }
.icon.orange { background:#ef9729; }
.icon.pink { background:#ec407a; }
.icon.white { background:#fff; }

.devicons { font-size:48px; }

/**********
 * header *
 **********/
header {
    background:#fdfdfd;
    border-bottom:1px solid #e0dcd9;
}

header nav { text-align:right; }

header ul {
    list-style:none;
    margin-bottom:0;
}

header li { display:inline-block; }

header nav a {
    display:inline-block;
    padding:22px;
}

.logo {
    background:#fdfdfd;
    border:1px solid #e0dcd9;
    border-top:none;
    padding:16px;
    position:absolute;
}

.logo img { width:186px; }

/******************************
 * console design + animation *
 ******************************/
.code {
    border-bottom:1px solid #e0dcd9;
    padding:72px 0;
}

.console {
    background:#333;
    margin-top:14px;
    padding:20px 20px 71px;
    position:relative;
    font-size:21px;
}

.chrome {
    background:#e2e2e2;
    border:1px solid #ccc;
    border-bottom:none;
    border-radius:6px 6px 0 0;
    display:block;
    position:absolute;
    top:-28px;
    left:0;
    width:100%;
    height:28px;
}

.chrome .dot {
    background:#ff5c5c;
    border:1px solid #e43f42;
    border-radius:50%;
    content:"";
    position:absolute;
    top:8px;
    left:8px;
    width:12px;
    height:12px;
}

.chrome .dot + .dot {
    border:1px solid #e19f3f;
    background:#ffbb4b;
    left:26px;
}

.chrome .dot + .dot + .dot {
    border:1px solid #13ad45;
    background:#00c955;
    left:44px;
}

.console p {
    line-height:initial;
    overflow: hidden;
    white-space: nowrap;
}

.console p:first-child {
    width:12.6em;
    -webkit-animation: type 1.68s steps(21, end);
}

.console p:first-child + p {
    width:14.4em;
    -webkit-animation: type2 3.6s steps(24, end);
}

.console p:first-child + p + p {
    width:18em;
    -webkit-animation: type2 6s steps(30, end);
}

.console p:first-child + p + p + p {
    width:3em;
    -webkit-animation: type2 6.4s steps(5, end);
}

.console p:first-child + p + p + p + p {
    width:.6em;
    -webkit-animation: type2 6.64s steps(1, end);
}

.console .type-caret {
    border-right:1px solid transparent;
    display:inline-block;
    margin-left:4px;
    position:absolute;
    width:1px;
    height:32px;
    -webkit-animation: blink 1s step-end infinite;
    -webkit-animation-delay: 7.28s;
}

@-webkit-keyframes type {
  from { width: 0; }
}

@-webkit-keyframes type2 {
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #8a8a8a }
}

/******************
 * other sections *
 ******************/
.course {
    background:#fff;
    border-radius:8px;
    box-shadow:1px 1px 8px #e0dcd9;
    padding:16px;
}

/*****************
 * media queries *
 *****************/
@media (max-width: 500px){
    .console { font-size:16px; }
    .type-caret { font-size:24px; }
}

@media (max-width: 400px){
    .console { font-size:12px; }
    .type-caret { font-size:18px; }
}